In [74]:
import pandas as pd
import numpy as np
import json
from datetime import datetime
import time
from bs4 import BeautifulSoup
import re
import json

In [2]:
user_data = []
with open('C:\\Users\\Sanchayni\\Desktop\\Spring19\\DPA\\Project\\yelp_dataset\\user.json',encoding="utf8") as fin:
    for line in fin:
        line_contents = json.loads(line)
        user_data.append(line_contents)

In [3]:
user_data = pd.DataFrame(user_data)

In [4]:
Unique_user_id = pd.read_csv('C:\\Users\\Sanchayni\\Desktop\\Spring19\\DPA\\Project\\Unique_users.csv',index_col=None)

In [5]:
Unique_user_id.columns

Index(['Unnamed: 0', '0'], dtype='object')

In [6]:
Unique_user_id =Unique_user_id.drop(['Unnamed: 0'], axis=1)
Unique_user_id.columns = ['user_id']

In [7]:
Unique_user_id.head()

                  user_id
0  w31MKYsNFMrjhWxxAb5wIw
1  -mA3-1mN4JIEkqOtdbNXCQ
2  86J5DwcFk4f4In1Vxe2TvA
3  JSrP-dUmLlwZiI7Dp3PQ2A
4  6Fz_nus_OG4gar721OKgZA

In [8]:
user_filtered_data = user_data[user_data['user_id'].isin(Unique_user_id['user_id'])]

In [9]:
user_filtered_data.columns

Index(['average_stars', 'compliment_cool', 'compliment_cute',
       'compliment_funny', 'compliment_hot', 'compliment_list',
       'compliment_more', 'compliment_note', 'compliment_photos',
       'compliment_plain', 'compliment_profile', 'compliment_writer', 'cool',
       'elite', 'fans', 'friends', 'funny', 'name', 'review_count', 'useful',
       'user_id', 'yelping_since'],
      dtype='object')

In [92]:
user_filtered_data.dtypes

average_stars                 float64
compliment_cool                 int64
compliment_cute                 int64
compliment_funny                int64
compliment_hot                  int64
compliment_list                 int64
compliment_more                 int64
compliment_note                 int64
compliment_photos               int64
compliment_plain                int64
compliment_profile              int64
compliment_writer               int64
cool                            int64
elite                          object
fans                            int64
friends                        object
funny                           int64
name                           object
review_count                    int64
useful                          int64
user_id                        object
yelping_since          datetime64[ns]
yelping_since_month             int64
yelping_since_year              int64
numof_friends                   int64
dtype: object

**Converting name column to string data type**

In [89]:
user_filtered_data['name'] = user_filtered_data['name'].astype(str)
user_filtered_data['user_id'] = user_filtered_data['user_id'].astype(str)

C:\Users\Sanchayni\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Sanchayni\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
user_filtered_data.isna().sum()

average_stars         0
compliment_cool       0
compliment_cute       0
compliment_funny      0
compliment_hot        0
compliment_list       0
compliment_more       0
compliment_note       0
compliment_photos     0
compliment_plain      0
compliment_profile    0
compliment_writer     0
cool                  0
elite                 0
fans                  0
friends               0
funny                 0
name                  0
review_count          0
useful                0
user_id               0
yelping_since         0
dtype: int64

**Cleaning Column 'name'**

In [68]:
user_filtered_data.loc[user_filtered_data['name'].isin(['None','0','Na','NA','-']),'name'].value_counts()

Series([], Name: name, dtype: int64)

In [98]:
user_filtered_data.groupby('name')['name'].agg({'count':'count'}).sort_values(by=['count'],ascending=False).head(15)

C:\Users\Sanchayni\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

          count
name
John       8298
Michael    7790
David      7790
Chris      7081
Mike       6685
Jennifer   5853
Jessica    5289
Michelle   4788
Mark       4672
Sarah      4647
Brian      4541
Jason      4473
Lisa       4375
James      4183
Robert     4004

Replacing the ['None','0','Na','NA','-'] values to NaN

In [67]:
user_filtered_data['name'] = user_filtered_data['name'].replace(['None','0','Na','NA','-'],np.NaN)

C:\Users\Sanchayni\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [70]:
sum(user_filtered_data['name'].isna())

41

Check for mispelled words in column 'name'

**Converting yelping_since variable into date format**

In [71]:
user_filtered_data['yelping_since'] = user_filtered_data['yelping_since'].astype(str)

C:\Users\Sanchayni\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [72]:
user_filtered_data['yelping_since'].head()

0    2013-10-08 23:11:33
1    2013-02-21 22:29:06
2    2013-10-04 00:16:10
3    2014-05-22 15:57:30
4    2013-10-23 07:02:50
Name: yelping_since, dtype: object

In [76]:
user_filtered_data['yelping_since'] = pd.to_datetime(user_filtered_data['yelping_since'],format = '%Y-%m-%d')

C:\Users\Sanchayni\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [84]:
user_filtered_data['yelping_since_year'] = pd.DatetimeIndex(user_filtered_data['yelping_since']).year
user_filtered_data['yelping_since_month'] = pd.DatetimeIndex(user_filtered_data['yelping_since']).month

C:\Users\Sanchayni\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Sanchayni\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [87]:
user_filtered_data.head()

,average_stars,compliment_cool,compliment_cute,compliment_funny,compliment_hot,compliment_list,compliment_more,compliment_note,compliment_photos,compliment_plain,...,friends,funny,name,review_count,useful,user_id,yelping_since,yelping_since_month,yelping_since_year,numof_friends
0,4.03,1,0,1,2,0,0,1,0,1,...,"c78V-rj8NQcQjOI8KP3UEA, alRMgPcngYSCJ5naFRBz5g...",17,Rashmi,95,84,l6BmjZMeQD3rDxWUbiAiow,2013-10-08 23:11:33,10,2013,99
1,3.63,1,0,1,1,0,0,0,0,0,...,"kEBTgDvFX754S68FllfCaA, aB2DynOxNOJK9st2ZeGTPg...",22,Jenna,33,48,4XChL029mKr5hydo79Ljxg,2013-02-21 22:29:06,2,2013,1152
2,3.71,0,0,0,0,0,0,1,0,0,...,"4N-HU_T32hLENLntsNKNBg, pSY2vwWLgWfGVAAiKQzMng...",8,David,16,28,bc8C_eETBWL0olvFSJJd0w,2013-10-04 00:16:10,10,2013,15
3,4.85,0,0,0,1,0,0,0,0,2,...,"RZ6wS38wnlXyj-OOdTzBxA, l5jxZh1KsgI8rMunm-GN6A...",4,Angela,17,30,dD0gZpBctWGdWo9WlGuhlA,2014-05-22 15:57:30,5,2014,525
4,4.08,80,0,80,28,1,1,16,5,57,...,"mbwrZ-RS76V1HoJ0bF_Geg, g64lOV39xSLRZO0aQQ6DeQ...",279,Nancy,361,1114,MM4RJAeH6yuaN8oZDSt0RA,2013-10-23 07:02:50,10,2013,231

In [91]:
user_filtered_data.loc[user_filtered_data['user_id'].isin(['None','0','Na','NA','-']),'user_id'].value_counts()

Series([], Name: user_id, dtype: int64)

**Creating variable number of friends from 'friends' array **

In [86]:
user_filtered_data['numof_friends'] =user_filtered_data['friends'].apply(lambda x: len(x.split(',')))

C:\Users\Sanchayni\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

**Cleaning variable average_stars**

In [110]:
sum(user_filtered_data['average_stars'].isin([0,'-','NA','None',None]))

0